body {
    text-align: center;
    vertical-align: top;    
}

#wrapper {
    display: inline-block;
    width: 700px;
    background: skyblue;
    text-align: left;
    padding: 20px;   
}

form {
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
}

.row {
    display: block;
    clear: both;
    margin-bottom: 15px;
    text-align: center;
}

    .row input,
    .row label {
        display:inline-block;
        vertical-align: top;
    }
    
    .row label {
        width: 200px;
        margin-right: 10px;
        text-align: right;
        line-height: 25px;
        cursor: pointer;
    }
    
    .row input.text {
        width: 228px;
        padding: 0 10px;
        border: 1px solid #000;
        height: 23px;
    }
    
    .row input[type='submit'] {
        width: 100px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid teal;
        background: teal;
        cursor: pointer;
        color: white;
        font-weight: 700px;     
    }
    
    .row input[type='submit']:hover {
        background: lawngreen;
        border: 2px solid white;
        transition: 0.3s;
        color: black;
    }

    .carTable {
        width: 100%;
        margin: 50px 0;
        border: 1px solid #fff;
    }
    
    .carTable tr td{
        text-align: center;
        border: 1px solid white;       
    }