.one, .two, .three, .four {
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.one {
    background-color: #06B9FD;
}
.two {
    background-color: #0073aa;
}
.three {
    background-color: blue;
}
.four {
    background-color: purple;
}
