.container {
	width: container-size(300, 300);
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 80px;
	background: $primary-white;
}
.container-in {
	width: 940px;
	margin: 0 auto;

    img {
            padding-top: 0;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 20px;
        }
}

.read {
display: block;
height: 311px;
}
.read1 {
	width: 301px;
	background: #eeeeee;
	float: left;
	padding: 26px 0 23px 0;
	margin: 0 18px 0 0;
    h3 {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 20px;
            color: $primary-grey;
            font-weight: normal;
            text-align: center;
            padding: 0 0 22px;
    }  
    p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: $primary-grey;
	font-weight: normal;
	text-align: center;
	line-height: 20px;
	padding: 0 9px 27px 9px;
    }
    a {
	width: 97px;
	margin: 0 auto;
	background: $primary-blue;
	border-radius: 6px;
	position: relative;
	display: block;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: $primary-white;
	font-size: 11px;
	padding: 7px 0 6px;
        
        &:hover {
            text-decoration: underline;
        }
    }   
}

.read1-img1 {
	width: 32px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 22px;
}

.welcome {
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 32px;
	padding: 22px 0 26px 18px;
	background-color: #f6f6f6;
        
    h5 {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: normal;
            font-size: 20px;
            color: $primary-grey;
            display: inline-block;
            padding: 0 0 18px;
    }  
    
    p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            color: $primary-grey;
            font-weight: normal;
            display: inline-block;
            padding: 0 34px 0 0;
            line-height: 20px;
    }
}

.bottom-cont {
	display: inline-block;
}
.bottom-cont1 {
	width: 264px;
	float: left;
	padding: 0 0 0 20px;
	margin: 0 43px 0 0;
	height: 200px;
}
.bottom-cont1 h6 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 20px;
	color: $primary-grey;
	display: inline-block;
	padding: 0 0 13px;
}
.bottom-cont1 ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding: 0 0 0 18px;
	background: url(../images/arrow-li.png) no-repeat left center;
	color: $primary-blue;
	line-height: 24px;
}
.bottom-cont1 ul li a:hover {
	text-decoration: underline;
}
.bottom-cont1 span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: $primary-blue;
	display: block;
	line-height: 24px;
	background: url(../images/arrow-li.png) no-repeat left center;
	padding: 0 0 0 13px;
}