.footer {
	width: 100%;
	background: $primary-grey;
	position: absolute;
	bottom: 0px;
}
.footer-in {
	width: 980px;
	margin: 0 auto;
	padding: 36px 0 36px 0;
}
.social-icons {
	float: left;
	padding: 0 0 0 28px;
}
.social-icons ul li {
	float: left;
	display: inline-block;
	margin: 0 10px 0 0;
}
.copy {
	float: right;
	display: inline-block;
	padding: 0 15px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: map-get($font-size, sizeH3);
}
.copy p {
	color: #999999;
}
.copy a {
	color: #999999;
	text-decoration: underline;
}
.copy a:hover {
	text-decoration: none;
}

.fooOne {
    @include border-radius ($vertical-radius: 25px);
    @include calc('height', '100vh - 128px');
}

.fooTwo {
    @include border-radius ($radius: 50px);
    @include calc(height, '100vh - 128px');
}

.fooThree {
    @include border-radius (100px, 50px);
/*    @include calc(height, 100vh - 128px);--> zly zapis!*/ 
}

.foo {
    @include border-radius (5px);
}

.invert {
    color: invert(red);
}

