html, body {
	height: 100%;
}
body {
	color: #b1b1b1;
	font-family: "Arial", Verdana, Tahoma;
	font-size: 12px;
	background: $secondary-white;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	min-width: 980px;
	min-height: 100%;
}