.header {
	width: 100%;
	background: $primary-blue;
}
.header-container {
	width: 980px;
	margin: 0 auto;
	padding: 22px 0;
	height: 35px;
        
    .logo {
            display: inline-block;
            float: left;
            padding: 0 0 0 34px;    
    
        a {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                font-size: 38px;
                color: $primary-white;
                font-weight: normal;
        }
    }       
    .toll-free {
            float: right;
            padding: 20px 27px 0 0;
        
        p {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: $primary-white;
                font-weight: normal;
        }
    }    
}