.nav {
	width: 100%;
	background: url(../images/nav-bg.jpg);
	height: 51px;
}
.nav-in {
	width: 980px;
	margin: 0 auto;

    ul {
            width: 727px;
            margin: 0 auto;
    
                li {
                float: left;
                background: url(../images/nav-li-bg.png) no-repeat right center;
                padding: 16px 37px 16px 0;
                margin: 0 0 0 41px;
                
                
                    a {
                    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    color: $primary-white;
                    
                    &:hover {
                        color: #09A6D7;
                    }
                    }
                }
        }
}

.ped {
	padding-right: 0 !important;
}