@function container-size($parent, $child) {
        @return $parent / $child * 100%;
}
    
@mixin border-radius($radius: 10px, $vertical-radius: 10px) {
    border-radius: #{$radius} / #{$vertical-radius};
}

@mixin calc($property, $expression) {
    #{$property}: calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
}

$primary-blue: #1ca6d7;
$primary-grey: #333333;
$primary-white: #ffffff;
$secondary-white: #f4f4f4;

$font-size: (
    sizeH1: 50px,
    sizeH2: 40px,
    sizeH3: 30px
    );
    
 
