body {
    text-align: center;
    vertical-align: top;
    font-family: monospace;
    font-size: 15px;
}

#komputer {
    background: darkturquoise;
    display: inline-block;
    width: 700px;
    text-align: left;
    padding: 20px;
}

form {
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    
}

.row {
    display: block;
    clear: both;
    margin-bottom: 15px;
    text-align: center;
}

    .row input,
    .row label {
        display: inline-block;
        vertical-align: top;
    }
    .row label {
        width: 300px;
        margin-right: 10px;
        text-align: right;
        line-height: 30px;
        cursor: pointer;
    }
    .row input.text {
        text-align: center;
        width: 228px;
        padding: 0 10px;
        border: 1px solid white;
        height: 25px;

    }
    .row input[type='submit'] {
        width: 100px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid white;
        background: teal;
        cursor: pointer;
        color: white;
        font-weight: 500;
        
    }
    .row input[type='submit']:hover {
        background: lawngreen;
        border: 2px solid white;
        transition: 0.3s;
        color: black;
    }
    
    .kompTable {
        margin-top: 20px;
        border: 2px solid white;
        text-align: center;
        width: 700px;   
    }
    
    .kompTable th, 
    .kompTable td, 
    .kompTable tr,
    .kompTable thead {
        border: 3px solid teal;
    }
    
    
    