body {
    background-color: black;
}

.ball1, .ball2, .ball3, .ball4, .ball5, .ball6, .ball7 {
    width: 15px;
    height: 15px;
    left: 705px;
    position: relative;
    border-radius: 15px;
}

.ball1 {
    top: 100px;
    background-color: red;
    animation: one 1.3s infinite ease-in-out;   
}

.ball2 {
    top: 120px;
    background-color: orange;
    animation: two 1.25s infinite ease-in-out;
}
.ball3 {
    top: 140px;
    background-color: yellow;
    animation: three 1.2s infinite ease-in-out;
}
.ball4 {
    top: 160px;
    background-color: greenyellow;
    animation: four 1.15s infinite ease-in-out;
}
.ball5 {
    top: 180px;
    background-color: green;
    animation: five 1.1s infinite ease-in-out;
}
.ball6 {
    top: 200px;
    background-color: blue;
    animation: six 1.05s infinite ease-in-out;
}
.ball7 {
    top: 220px;
    background-color: purple;
    animation: seven 1s infinite ease-in-out;
}

@keyframes one {
    50%  {left: 690px;}
    0%   {background-color: red;}
    50%  {background-color: orange;}
}

@keyframes two {
    50%  {left: 690px;}
    0%   {background-color: orange;}
    50%  {background-color: yellow;}
}

@keyframes three {
    50%  {left: 690px;}
    0%   {background-color: yellow;}
    50%  {background-color: greenyellow;}
}

@keyframes four {
    50%  {left: 690px;}
    0%   {background-color: greenyellow;}
    50%  {background-color: green;}
}

@keyframes five {
    50%  {left: 690px;}
    0%   {background-color: green;}
    50%  {background-color: blue;}
}

@keyframes six {
    50%  {left: 690px;}
    0%   {background-color: blue;}
    50%  {background-color: purple;}
}

@keyframes seven {
    50%  {left: 690px;}
    0%   {background-color: purple;}
    50%  {background-color: black;}
}

