.mojaKlasa {
    position: fixed;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 200px;
    display: block;
    background-color: red;
    transition-duration: 1s;
    transform: perspective(300px) rotateY(-15deg);
}


.mojaKlasa:hover {
    transform: perspective(300px) rotateY(15deg);
}

/*.mojaKlasa:hover {
    background-color: orange;
    width: 400px;
}*/

/*@keyframes animacja {
    0%{background-color:red; width: 450px; height: 450px;}
    20%{background-color:orange;width: 250px; height: 250px;}
    40%{background-color:yellow; width: 50px; height: 50px; border-radius: 100px;}
    60%{background-color:green; width: 10px; height: 10px; border-radius: 100px;}
    80%{background-color:blue; width: 250px; height: 250px;}
    100%{background-color:purple; width: 450px; height: 450px;}
}

.pojemnik {
    position: fixed;
    top: 100px;
    left: 700px;
    width: 200px;
    height: 40px;
    display: block;
    border: 2px solid yellowgreen;
    border-radius: 10px;
}

.pasek {
    width: 0;
    height: 40px;
    animation: pasek 3s;
}

@keyframes pasek {
    0%{background-color:red; width: 0; border-radius: 10px;}
    20%{background-color:orange; width: 20%;}
    40%{background-color:yellow; width: 40%;}
    60%{background-color:green; width: 60%;}
    80%{background-color:blue; width: 80%;}
    100%{background-color:purple; width: 100%; border-radius: 10px;}
}*/