body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: bold;
}
abbr, acronym {
    border: 0;
}
.clear {
    clear: both;
    font-size: 0px;
    line-height: 0px;
    display: block;
}
.last {
    margin: 0 !important;
}
.pad_last {
    padding: 0 !important;
}
.no_bg {
    background: none !important;
}

a {
    color: #000;
    text-decoration: none;
    outline: 0 none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

body {
    color:#b1b1b1;
    font-family: monospace;
    font-size:12px;
    background: #f4f4f4;
}
html, body {
    height: 100%
}
.wrapper {
    position:relative;
    margin: 0 auto;
    min-width:980px;
    min-height: 100%;
    height: auto !important;
}
.header {
    width: 100%;
    background: #1ca6d7;
}
.header-container {
    width: 980px;
    margin: 0 auto;
    padding: 22px 0;
    height: 35px;
}
.header-container .logo {
    float: left;
    padding: 0 0 0 34px;
    margin: -3px 0px 0px 0px;
}
.header-container .logo a {
    font-size: 36px;
    color: white;
    font-weight: bold;
}
.header-container .toll-free {
    float: right;
    padding: 12px 27px 0 0;
}
.header-container .toll-free p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: normal;
}
.nav {
    width:100%;
    background: url(../images/nav-bg.jpg);
    height: 51px;
}
.nav-in {
    width: 980px;
    margin: 0 auto;
}
.nav-in ul {
    width: 727px;
    margin: 0 auto;
}
.nav-in ul li {
    background: url(../images/nav-li-bg.png) no-repeat right center;
    float:left;
    margin: 18px 25px 25px 13px;
    padding-right: 29px;
}
.nav-in ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:14px;
    color: white;
}
.nav-in ul li a:hover {
    color:#2fbaed;
    border-bottom: 1px solid #2fbaed;
}
.container {
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 24px;
    background-color: white;
}
.container-in {
    width: 940px;
    margin: 0 auto;
}
@media (max-width: 900px) {
    .container-in {
        width:400px;
    }
} 

.container-in img {
    padding: 0 0 20px 0;
}
.read {
    display:block;
    height: 311px;
}
.read1 {
    width: 301px;
    float: left;
    margin: 0 18px 0 0;
    padding: 26px 0 23px 0;  
    background: #eeeeee
}
@media (max-width: 900px) {
    .read1 {
        clear: both;
        display: block;
    }
} 

.read1-img1 {
    width: 32px;
    height: 30px;
    margin: 0 auto 22px auto;
}
.read1 h3 {
    font-size: 20px;
    color: #333333;
    font-weight: normal;
    text-align: center;
    padding: 0 0 22px 0;
}
.read1 p {
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    text-align: justify;
    line-height: 20px;
    padding: 0 9px 27px 9px;
}
.read1 a {
    display: block;
    position: relative;
    text-align: center;
    background-color: skyblue;
    color: white;
    padding: 3px 3px 3px 3px;
    margin: 5px 100px 5px 100px;
    font-weight: normal;
    border-radius: 10px;  
}
.read1 a:hover {
    text-decoration: underline;
    color:#2fbaed;
    transition: all 0.5s;
    background-color: azure;
}
.welcome {
    margin: 50px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    background-color: #f6f6f6;
}
.welcome h5 {
    padding: 5px 10px 10px 10px;
    display: block;
    font-size:20px;
    color: #333333;
    font-weight: normal;
    text-align: center
}
.welcome p {
    padding: 0 10px 0 10px;
    display: inline-block;
    font-weight: normal;
    color: #333333;
    font-size: 13px;
    line-height: 20px; 
    text-align: justify;
}
.bottom-cont {
    display: inline-block;
    height: 311px;
    margin-bottom: 85px;
}
.bottom-cont1 {
    width: 301px;
    float: left;
    padding: 15px 0 23px 0;
    margin: 20px 18px 0 0;
    background-color: #f6f6f6;
    height: 275px;
}
.bottom-cont1 h6 {
    padding: 0 0 10px 0px; 
    font-size:20px;
    color: #333333;
    font-weight: normal;
    text-align: center
}
.bottom-cont1 p {
    color: #333333;
    line-height: 20px;
    font-size: 13px;
    padding: 10px 10px 10px 10px;
    margin: 10 10px 0 0px;
    text-align: justify
}
.bottom-cont1.last p {
    color: #333333;
    padding: 20px 10px 20px 10px;
}
.bottom-cont1 ul {
    color:blue;
    line-height: 28px;
    font-size: 13px;
    padding: 0 0 0 0px;
    margin: 0 10px 0 0px; 
}
.bottom-cont1 a {
    color: #2fbaed;
}
.bottom-cont1 li {
    list-style-image: url(../images/arrow-li.png);
    padding: 0 0 0 10px;
    margin: 0 0px 0 20px;
    line-height: 32px
}
.bottom-cont1 li:hover {
    text-decoration: underline;
}
.bottom-cont1 span {
    color: #333333;
    background: url(../images/arrow-li.png) no-repeat left center;
    padding: 7px 1px 8px 10px;
    font-size: 13px;
    text-decoration: underline;

}
.bottom-cont1.last {
    margin-top: 20px !important;
}
.footer {
    width: 100%;
    background: #333333;
    position:absolute;
    bottom: 0;
    padding: 26px 0 26px 0;
}
.footer-in {
    width: 940px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}
.social-icons {
    float:left;
    padding: 0 0 0 28px;
}
.social-icons ul li {
    display: inline-block;  
    float: left;
    margin: 0 15px 0 0;
}
.copy {
    float: right;
}
.copy p a:hover {
    text-decoration: underline;
    color: #2fbaed;
}
table {
    border: 2px solid blue;
    margin: 0 auto;
}
th {
    border-bottom: 4px solid blue;
    border-left: 2px solid blue;
    text-align: center;
    background-color:#a3c7eb;
    color: black;
    padding: 4px 4px 4px 4px;
}
tr {
    border: 2px solid blue;
    border-right: 2px solid blue;
    text-align: center;
    color: black;
    padding: 4px 4px 4px 4px;
}
td {
    border: 2px solid blue;
    border-right: 2px solid blue;
    text-align: center;
    color: black;
    padding: 4px 4px 4px 4px;
}