/*.mojaKlasa {
    position: fixed;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 200px;
    display: block;
    background-color: red;
    transition-property: width, background-color;
    transition-duration: 1s, 3s;
    transition-timing-function: linear, ease-in;
    transition-delay: 3s, 0s;
    
}

.mojaKlasa:hover {
    background-color: orange;
    width: 400px;
}*/

html, body {
    width: 100%;
    height: 100%;
}

nav {
    position: relative;
    width: 554px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin: 0 auto;
}

nav > .nav-elem {
    padding: 0 40px 0 40px;
    width: 100px;
    display: inline-block;
    border: 1px solid blue;
    text-align: center;
}
.slider {
    display: block;
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: red;
    left: 0px;
    top: 25px;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.gallery:hover ~ .slider {
    background-color: green;
    left: 186px;
}

.contact:hover ~ .slider {
    background-color: cyan;
    left: 372px;
}