body {
    text-align: center;
}

#page { 
    display: inline-block;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    vertical-align: top;
    border: 1px solid #000;
    }
        
.content {
    display: block;
    clear: both;
    position: relative;
    min-height: 240px;
    margin-bottom: 50px;
    background: yellow;
        }
        
#header {}

        #header .switch {
            position: absolute;
            top: 20px;
            width: 200px;
            height: 200px;
            background: orange;
            }

           #header .left {
            right: 700px;
            }
            
            #header .right {
            left: 700px;
            }
            
            #header a {
            font-weight: 700;
            }
            
            #header a:hover {
            text-decoration: underline;
            cursor: pointer;
            }
      
            
            
            