.new-horizons {
    font-size: 18px;
    padding: 13px 27px;
    letter-spacing: 5px;
    border: 1px solid blue;
    position: absolute;
    top: 50px;
    left: 50px;
}

.new-horizons span {
    position: relative;
    z-index: 4;
    transition-delay: 799ms;
    transition-duration: 300ms;
}

.new-horizons::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%;
    content: ' ';
    transition: all 300ms cubic-bezier(.77, 0, .175, 1);
    background: cyan;
}

.new-horizons:hover::before {
    width: 100%;
}

.new-horizons::after {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 100%;
    content: ' ';
    transition: all 600ms cubic-bezier(.165, .84, .44, 1);
    background: #00A8EF;
    transition-delay: 300ms;
}

.new-horizons:hover::after {
    width: 100%;
}

.new-horizons:hover span {
    color: white;
}