/** {
    color: red;
}*/

/*p {
    color: red;
}*/

/*#unikatowaNazwa {
    color: red;
}*/

/*.rodzic {
    color: red;
}*/

/*span#unikatowaNazwa {
    color: blue;
}*/

/*p.pierwszyPotomek {
    color: red;
}*/

/*p.drugiPotomek, div, span#unikatowaNazwa {
    color: red;
}*/

/*.rodzic .trzeciPotomek {
    color: red;
}*/

/*.rodzic > .pierwszyPotomek {
    color: red;
}*/

/*.drugiPotomek ~ .trzeciPotomek {
    color: red;
}*/

/*[title="trolo"] {
    color: red;
}*/

/*[atrybutY~="nazwa"] {
    color: red;
}*/

/*div:before {
    content:"| Dodany tekst | ";
    color: red;
}*/

/*div:after {
    content:"| Dodany tekst | ";
    color: red;
}*/

/*div:after {
    content: " ";
    background-color: red;
    width: 10px;
    height: 10px;
    display: block;    
}*/

.unikatowaNazwa:hover {
    color: green;
}