body {
    text-align:center;
    vertical-align: top;
    background-color: lightgrey;
    font-family: 'Open Sans', sans-serif;

}

form {
    margin-bottom: 20px;
}

.wrapper {
    display: inline-block;
    width:700px;

    text-align: left;
    padding: 20px;
}

form {
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px;
}

.row {
    display: block;
    clear: both;
    margin-bottom: 15px;
    text-align: center;

}

.row select,
.row input,
.row label {
    display: inline-block;
    vertical-align: top;
}

.row select {
    width: 173px;
    height: 21px;
}

.row label {
    width: 300px;
    text-align: right;
    margin-right: 15px;
    line-height:25px;
    cursor:pointer;

}

input[type='submit'] {
    width: 150px;
    height:40px;
    border-radius: 5px;
    border: none;
    font-weight:700;
    color: #fff;
    cursor: pointer;
    background: #92A68A;
}
input[type="submit"]:hover {
    background:#7B8F8A
}

#anim {
    height:300px;
    width:500px;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    overflow:hidden;
}

.label {
    position:relative;
    top:300px;
}
