.social-media-cont__icon--fb {
  color: purple; }

.header {
  color: blue; }
  .header .header__logo {
    color: red; }

.social-media-cont__icon--fb {
  color: black; }
.social-media-cont__icon--twitter {
  color: black; }
.social-media-cont__icon--rss {
  color: black; }
.social-media-cont__icon--mail {
  color: black; }

/*# sourceMappingURL=style.css.map */
