%fb-icon-url {
    color: purple;
}

.header {
    color: blue;

    
    & &__logo {
        color: red;
    }
}

.social-media-cont {
    &__icon {
        &--fb {
            color:black;
            @extend %fb-icon-url;
        }
        &--twitter{
            color:black;
        }
        &--rss{
            color:black;
        }
        &--mail{
            color:black;
        }
    }
}

